.analysis {
    box-sizing: inherit;
    padding: 0.5em;
    flex: 1;
    background-color: rgb(255, 108, 138);
    border-radius: 0.3em;
}

.analysis > * + * {
    margin-top: 0.5em;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.header > div {
    border-radius: 0.3em;
    background-color: rgb(198, 239, 198);
    padding: 0.25em 0.5em;
}