.header {
    box-sizing: inherit;
    background-color: aqua;
    padding: 0.5em;
    border-radius: 0.3em;
    display: flex;
}

.headTitle {
    flex: 1;
    letter-spacing: 0.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headItems {
    flex: 5;
    display: flex;
    justify-content: space-between;
}

.headNav > * + * {
    margin-left: 0.75em;
}

.admin {
    display: flex;
}

.admin > * + * {
    margin-left: 0.5em;
}