.checkPage {
    padding: 0.5em;
    min-height: 87.5vh;
    background-color: rgb(234, 234, 234);
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}